<div class="my-card  card header border-2 border-primary bg-dark">
    <div class="container-fluid">
        <img src="back-img.jpg" class="img-thumbnail image float-start" alt="Profile Picture">
        <div class="container-fluid custom-text-centered">
            <h1 class="text-warning">{{nombre}}</h1>
            <h4 class="text-white">{{subtitulo}}</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-fluid bg-dark card my-card border-2 border-primary text-white">
            <span class="border border-primary rounded-3 bg-primary">
                <div class="container-fluid">
                    <h2 class="text-white">Sobre mí</h2>
                </div>
            </span>
            <div class="container-fluid border border-secondary bordes my-2">
                <p class="fs-6 p-1">{{descripcion}}</p>
            </div>           
        </div>
    </div>          
</div>